* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#wrapper {
    height: 100vh;
    overflow-x: hidden;
    perspective: 10px;
}

.container {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform-style: preserve-3d;
    z-index: -1;
}

.background {
    transform: translateZ(-40px) scale(5);
}

.foreground {
    transform: translateZ(-20px) scale(3);
}

.background,
.foreground {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: -1;
}

.container p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 10rem;
    letter-spacing: 4px;
    font-weight: 800;
    color: white;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    text-align: center;
    white-space: wrap;
}

section {
    background-color: rgb(45, 45, 45);
    color: white;
    padding: 5rem 0;
}
.bg{
    position: relative;
    width: 100%;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    height: 400px;
}

.secHeading {
    font-size: 5rem;
    text-align: center;
}

.text {
    font-size: 1.5rem;
    padding: 0 1rem; /* Adjusted padding for responsiveness */
    margin: 5rem 0;
}

.desc1,
.desc2,
.desc3 {
    position: absolute;
    color: black;
    top: 50%;
    left: 40%;
    background-color: white;
    font-weight: 600;
    text-align: center;
    padding: 0.5rem 2.5rem;
}

.bg1 {
    background-image: url(sport-1.jpg);
}

.bg2 {
    background-image: url(sport-2.jpg);
}

.bg3 {
    background-image: url(sport-3.jpg);
}
@media screen and (max-width: 1000px) {
     .container p {
        font-size: 8rem; /* Adjusted font size for smaller screens */
     }
}
@media screen and (max-width: 850px) {
    .container p {
       font-size: 7rem; /* Adjusted font size for smaller screens */
    }
    .desc2{
        left:40%
    }
}
@media screen and (max-width: 850px) {
    .container p {
       font-size: 7rem; /* Adjusted font size for smaller screens */
    }
    .desc2{
        left:40%
    }
}
@media screen and (max-width: 768px) {
    .container p {
        font-size: 6rem;
    }
    .text {
        font-size: 2rem;
        padding: 0rem 1rem;
    }
    .desc2 {
        left: 30%;
    }
    .desc1,
    .desc3 {
        left: 35%;
    }
    .bg {
        width: 768px; /* Adjust the width as needed */
        /* height: 300px; Adjust the height as needed */
        background-size: cover; /* Adjust background size */
    }
}

@media screen and (max-width: 550px) {
    .container p {
        font-size: 5rem;
    }
    .desc2 {
        left: 18%;
    }
    .desc1,
    .desc3 {
        left: 25%;
    }
    .bg {
        width: 550px; /* Adjust the width as needed */
        /* height: 200px; Adjust the height as needed */
        background-size: cover; /* Adjust background size */
    }
}

@media screen and (max-width: 480px) {
    .container p {
        font-size: 4rem;
    }
    .text {
        font-size: 0.8rem;
        padding: 0.3rem 0.5rem;
    }
    .desc1,
    .desc3 {
        left: 30%;
    }
    .desc2 {
        left: 30%;
    }
    .bg {
        height: 300px;
        width: 480px; /* Adjust the width as needed */
        /* height: 200px; Adjust the height as needed */
        background-size: cover; /* Adjust background size */
    }
    @media screen and (max-width: 400px) {
        .container p {
            font-size: 3rem;
        }
        
    .text {
        font-size: 0.8rem;
        padding: 0.3rem 0.5rem;
    }
    .bg {
        height: 200px; 
        width: 400px; /* Adjust the width as needed */
        /* height: 200px; Adjust the height as needed */
        background-size: cover; /* Adjust background size */
    }
        .bg3
        {
            width:400px;
            background-size: cover;
        }
        .desc1,
    .desc3 {
        left: 25%;
    }
    .desc2 {
        left: 15%;
    }
        .secHeading {
            font-size: 4rem;
        } 
}
}
